<footer class="rodape">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contato</h4>
                <ul>
                    <li><a href="mailto:seuemail@example.com">marcosdejair497@gmail.com</a></li>
                    <li><a href="tel:seutelefone">12345-6789</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Redes Sociais</h4>
                <ul>
                    <li><a href="https://www.facebook.com/seupagina" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/seupagina" target="_blank">Instagram</a></li>
                    <li><a href="https://www.twitter.com/seupagina" target="_blank">Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Endereço</h4>
                <ul>
                    <li>Av. Seu Endereço, 123</li>
                    <li>Bairro - Cidade/UF</li>
                    <li>CEP: 12345-678</li>
                </ul>
    </div>
    <div class="copyright">
        &copy; {{ ano_atual }} - Todos os direitos reservados.
    </div>
</footer>